/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.m-l-16 {
 margin-left: -16px;
}
.m-l-10 {
    margin-left: -10px;
   }

   .listUser {
    .mat-mdc-menu-content {
        display: grid;
    }
   }
   .small-button {
    padding: 4px 8px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size if necessary */
    min-width: 0; /* allows the button to be smaller than the default min-width */
  }

  
#lst-Category {
  mat-drawer-content fuse-card .editCategory {
    position: absolute;
    bottom: 2px;
    right: 10px;
  }

  fuse-card .firstCard {
    margin: 15px 15px 15px 15px !important;
    width: 90% !important;
    min-height: 360px;
  }

  mat-drawer-content fuse-card {
    margin: 16px;
    min-height: 395px;
  }
}