/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
/* start global CSS */

.header-title {
    font-size: 1.2rem !important;
}
.header-description {
  font-size: 0.8rem !important;
}
.mat-mdc-menu-item-height {
 min-height: 35px !important;
}

/* end global CSS */
.m-l-16 {
 margin-left: -16px;
}
.m-l-10 {
    margin-left: -10px;
   }

   .listUser {
    .mat-mdc-menu-content {
        display: grid;
    }
   }
   .small-button {
    padding: 4px 8px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size if necessary */
    min-width: 0; /* allows the button to be smaller than the default min-width */
  }
  .fsize-9 {
    font-size: 9px;
  }
  .fsize-10 {
    font-size: 10px;
  }

  .fsize-12 {
    font-size: 12px;
  }
  .fsize-13 {
    font-size: 13px;
  }
  .fsize-14 {
    font-size: 14px;
  }
  .fsize-15 {
    font-size: 15px;
  }

  .ellipsis {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;    /* Hide overflowing content */
    text-overflow: ellipsis; /* Display the ellipsis */
    max-width: 100px;    /* Set a maximum width for the container */
  }

  .two-line-ellipsis {
    text-align: left;
    overflow: hidden;
    display: -webkit-box; /* Required for WebKit browsers */
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical; /* Orientation of the box */
  }

  /* CSS for list category */
#lst-Category {
  mat-drawer-content fuse-card .editCategory {
    position: absolute;
    bottom: 2px;
    right: 10px;
  }

  fuse-card .firstCard {
    margin: 10px 10px 10px 10px;
    height: 180px;
    
  }
  
  mat-drawer-content fuse-card {
    margin: 16px;
    height: 180px;
    min-width: 120px;
    width: 120px;
    border-radius: 5px;
  
  }
  mat-icon {
    min-height: 18px;
    min-width: 18px;
    width: 18px;
    height: 18px;
  }

  .descrption {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.editCateMenu {
    min-height: 18px;
    min-width: 18px;
    width: 18px;
    height: 18px;
  }

  /* CSS for add category */
#add-category {
  .upload-img-container {
    width: 120px;
    height: 180px;
    border: 1px solid black !important;
    border-radius: 1rem;
  }
 .txt {
  height: 57px !important;
  margin-bottom: -1.25em;
 }
 .line-hight-1-5 {
 line-height: 1.5;
 }
 pt-1px {
  padding-top: 1px;
}
}
.img-cropper {
  height:99% ;
  position: relative;
}