/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.m-l-16 {
 margin-left: -16px;
}
.m-l-10 {
    margin-left: -10px;
   }

   .listUser {
    .mat-mdc-menu-content {
        display: grid;
    }
   }
   .small-button {
    padding: 4px 8px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size if necessary */
    min-width: 0; /* allows the button to be smaller than the default min-width */
  }

  /* CSS for list category */
#lst-Category {
  mat-drawer-content fuse-card .editCategory {
    position: absolute;
    bottom: 2px;
    right: 10px;
  }

  fuse-card .ffcard {
    max-width: 16rem !important;
  }
  fuse-card .firstCard {
    margin: 15px 15px 15px 15px !important;
    width: 320px;
    height: 350px;
  }

  mat-drawer-content fuse-card {
    margin: 16px;
    height: 350px;
    width: 320px;
  }
  mat-icon {
    min-height: 18px;
    min-width: 18px;
    width: 18px;
    height: 18px;
  }

  .descrption {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.editCateMenu {
    min-height: 18px;
    min-width: 18px;
    width: 18px;
    height: 18px;
  }

  /* CSS for add category */
#add-category {
  .upload-img-container {
    width: 320px;
    height: 200px;
    border: 1px solid black !important;
    border-radius: 1rem;
  }
 .txt {
  height: 57px !important;
  margin-bottom: -1.25em;
 }
}
.img-cropper {
  height:99% ;
  position: relative;
}