<div id="lst-Category" class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto" cdkScrollable>
    <div>
        <!-- Alert -->
        @if (showAlert) {
        <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{ alert.message }}
        </fuse-alert>
        }
    </div>
    <!-- <div class="fuse-horizontal-navigation-item-title" style="margin-left: 43px;margin-top: 10px;">
        <div style="
        width: 2.3%;
        float: left;
    ">
            <a mat-icon-button [matTooltip]="'home'" [routerLink]="['/home']">
                <mat-icon
                    class="mat-icon notranslate fuse-horizontal-navigation-item-icon mat-icon-no-color ng-star-inserted"
                    [svgIcon]="'heroicons_outline:home'"></mat-icon>
            </a>
        </div>
        <div style="
        width: 10%;
        float: left;
        margin-top: 8px;
    ">
            <span style="padding-right: 6px;float:left;"> <mat-icon
                    class="mat-icon notranslate fuse-horizontal-navigation-item-icon mat-icon-no-color ng-star-inserted"
                    [svgIcon]="'arrow_forward_ios'"></mat-icon> </span>
            <span style="padding-right: 6px;float:left;padding-top: 2px;"> Content </span>
            <span style="padding-right: 6px;float:left;"> <mat-icon
                    class="mat-icon notranslate fuse-horizontal-navigation-item-icon mat-icon-no-color ng-star-inserted"
                    [svgIcon]="'arrow_forward_ios'"></mat-icon> </span>
            <span class="fuse-horizontal-navigation-item-active"
                style="float:left;padding-top: 2px;color: rgba(13, 148, 136, 1);"> Category </span>
        </div>
    </div> -->


    <!-- Main -->
    <mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full dark:bg-gray-900 md:w-160" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matCategoryDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">            
            <!-- Title -->
            <div class="grid grid-cols-12 mt-4">
                <div class="col-span-12 md:col-span-2 ml-10 lg:col-span-1"
                    style=" flex-grow: 0 !important;padding-bottom: 1rem !important;">
                    <div class="header-title font-extrabold leading-none tracking-tight">
                        Categories
                    </div>
                    <div class="header-description text-secondary">
                        @if (categoriesCount > 0) {
                        {{ categoriesCount }}
                        }
                        {{
                        categoriesCount
                        | i18nPlural
                        : {
                        '=0': 'No Categories',
                        '=1': 'Category',
                        other: 'Categories',
                        }
                        }}
                    </div>
                </div>
                <!-- Search -->
                <div class="ml-10 mr-5 col-span-12 md:col-span-10 lg:col-span-11">
                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full min-w-50" subscriptSizing="dynamic">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="
                                    'heroicons_solid:magnifying-glass'
                                "></mat-icon>
                        <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                            [placeholder]="'Search Categories'" />
                    </mat-form-field>
                </div>
            </div>

            <div class="flex flex-auto flex-col p-6 sm:p-10" style="padding-top: 0px !important;
            padding-left: 1rem !important;
            padding-right: 1rem !important;">
                <!--Card -->
                <div class="flex flex-wrap flex-auto items-start">
                    <fuse-card
                        class="filter-article flex flex-col ffcard">
                        <!-- New board -->
                        <div (click)="AddNewCategory()"
                            class="firstCard flex cursor-pointer items-center justify-center rounded-lg border-2 border-dashed border-gray-300 transition-colors duration-150 ease-in-out hover:bg-hover">
                            <button>
                                <mat-icon class="text-hint icon-size-12"
                                    [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            </button>
                        </div>
                    </fuse-card>

                    <!-- Card #1 -->
                    @if (categories$ | async; as categories) {
                    @if (categories.length) {
                    @for (
                    category of categories;
                    track trackByFn(i, category);
                    let i = $index
                    ) {
                
                    <fuse-card (mouseenter)="showCardInfo(category, true);" (mouseleave)="hideCardInfo(category, false);"
                        class="filter-article flex flex-col hover:bg-hover">
                        <div>
                            <div class="absolute z-20 right-0">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon style="color: #0F172A !important"
                                        [svgIcon]="'heroicons_outline:ellipsis-horizontal'"></mat-icon>
                                </button>
                            </div>
                            <img class="object-cover absolute h-full" [src]="getImage(category.photo)"
                                alt="{{category.name}}" />
                                @if(category.showCard){
                            <div class="mb-1 ml-2 absolute bottom-0">
                                <div class="font-semibold leading-tight name fsize-14 two-line-ellipsis"
                                    [matTooltip]="category.name">
                                    {{ category.name }}
                                </div>
                                <!-- <div style="-webkit-line-clamp: 1;" class=" ml-0 mt-3 descrption fsize-12"
                                    [matTooltip]="category.description">
                                    {{ category.description }}
                                </div> -->
                                <div class="mt-1.5 fsize-10 text-start" [matTooltip]="category.updateDatetime | date:'MMM dd, yyyy hh:MM' ">
                                    {{ category.updateDatetime | date:'MMM dd, yyyy hh:MM' }}
                                </div>
                            </div>
                          }
                        </div>
                        <!--menu optios-->
                        <mat-menu #menu="matMenu" panelClass="editCateMenu">                            
                            <div class="mat-mdc-menu-item-height mat-mdc-menu-item mat-focus-indicator fuse-horizontal-navigation-menu-item">
                                <button class="flex" (click)="editCategory(category._id)">
                                    <mat-icon style="height: 18px;width: 18px;min-height: 18px;min-width: 18px;"
                                        class="text-white mt-0.5" [svgIcon]="
                                'heroicons_outline:pencil'
                            "></mat-icon> <span class="ml-1">Edit</span>
                                </button>
                            </div>
                            <div class="mat-mdc-menu-item-height mat-mdc-menu-item mat-focus-indicator fuse-horizontal-navigation-menu-item">
                                <button class="flex" (click)="removeCategory(category._id)">
                                    <mat-icon style="height: 18px;width: 18px;min-height: 18px;min-width: 18px;"
                                        class="text-white mt-0.5" [svgIcon]="
                                'heroicons_outline:trash'
                            "></mat-icon><span class="ml-1">Remove</span>
                                </button>
                            </div>

                        </mat-menu>
                    </fuse-card>
                    }
                    }
                    }
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>