<div id="add-category" class="flex flex-col" style="width: 99%;">
    <div class="relative w-full ng-star-inserted">
        <div class="mx-auto flex w-full max-w-3xl mr-0 items-center justify-end">
            <a mat-icon-button [matTooltip]="'Close'" (click)="redirecttoCategory()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </a>
        </div>
    </div>

    <div>
        <!-- Alert -->
        @if (showAlert) {
        <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{ alert.message }}
        </fuse-alert>
        }
    </div>
    <div class="relative flex sm:px-12 h-full w-full rounded-lg">
        <form class="flex w-full flex-col items-start" [formGroup]="categoryForm" #formDirective="ngForm">
            <div class="h-full w-full">
            <div class="ml-2.5 mt-5 inset-0 z-20 upload-img-container ring-bg-card relative flex items-center justify-center overflow-hidden">
                <!-- Image/Letter -->
                @if(croppedImage != '') {
                <img id="1" class="h-full w-full object-cover" [src]="croppedImage" />
                }
                @else if(category.photo){
                <img id="2" class="h-full w-full object-cover" [src]="category.photo" />
                }
                @else{
                <div
                    class="flex mt-2 h-full w-full items-center justify-center overflow-hidden rounded text-8xl font-bold uppercase leading-none text-gray-600">
                </div>
                }

                <div class="flex mt-2 items-center justify-center absolute">
                    <input id="avatar-file-input" class="pointer-events-none invisible h-0 w-0 opacity-0" type="file" [multiple]="false"
                        [accept]="'image/*'" (change)="
                                                        fileChangeEvent($event)
                                                    " />
                    <label class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-full hover:bg-hover"
                        for="avatar-file-input" matRipple>
                        <mat-icon class="text-white" [svgIcon]="
                                                            'heroicons_outline:camera'
                                                        "></mat-icon>
                    </label>
                
                    <button mat-icon-button (click)="removeFile()">
                        <mat-icon class="text-white" [svgIcon]="
                                                                'heroicons_outline:trash'
                                                            "></mat-icon>
                    </button>
                </div>
            </div>

            
             </div>

            <!--Name -->
            <div class=" mt-2 flex w-full rounded-lg p-1 shadow">
                <mat-form-field class="w-full txt">
                    <!-- <mat-label>Name</mat-label> -->
                    <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:contacts'" matPrefix></mat-icon>
                    <input [formControlName]="'name'" 
                    [matTooltip]="categoryForm.get('name').hasError('required')? 'Name is required': 'Name'"
                    [placeholder]="'Name'" matInput />
                    <!-- @if (categoryForm.get('name').hasError('required')) {
                    <mat-error>Name is required</mat-error>
                    } -->
                </mat-form-field>
            </div>

            <!--workflow Name -->
            <div class="flex w-full rounded-lg p-1 shadow">
                <mat-form-field class="w-full txt">
                    <!-- <mat-label>Workflow Name</mat-label> -->
                    <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:app_registration'" matPrefix></mat-icon>
                    <input [formControlName]="'workflowName'" 
                    [matTooltip]="categoryForm.get('name').hasError('required')? 'Workflow Name is required': 'Workflow Name'"
                    [placeholder]="'Workflow Name'" matInput />
                    <!-- @if (categoryForm.get('workflowName').hasError('required')) {
                    <mat-error>Workflow Name is required </mat-error>
                    } -->
                </mat-form-field>
            </div>

            <!--description -->
            <div class="flex w-full rounded-lg p-1 shadow">
                <mat-form-field class="w-full txt">
                    <!-- <mat-label>Description</mat-label> -->
                    <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:description'" matPrefix></mat-icon>
                    <input [formControlName]="'description'" 
                    [matTooltip]="categoryForm.get('name').hasError('required')? 'Description is required': 'Description'"
                    [placeholder]="'Description'" matInput />
                    <!-- @if (categoryForm.get('workflowName').hasError('required')) {
                    <mat-error>Description is required </mat-error>
                    } -->
                </mat-form-field>
            </div>

            <!-- Tags -->
            <div>
                <mat-label class="p-1">Tags</mat-label>
                <div class="-m-1.5 mt-2 flex flex-wrap items-center">
                    @if (category.tags.length) {
                    @for (
                    tag of category.tags;
                    track trackByFn($index, tag)
                    ) {
                    <div
                        class="m-1.5 flex items-center justify-center rounded-full bg-gray-100 px-4 leading-9 text-gray-500 dark:bg-gray-700 dark:text-gray-300">
                        <span class="whitespace-nowrap text-md font-medium">{{ tag }}</span>
                    </div>
                    }
                    }
                    <!-- Tags panel and its button -->
                    <div class="m-1.5 flex cursor-pointer items-center justify-center rounded-full bg-gray-100 px-4 leading-9 text-gray-500 dark:bg-gray-700 dark:text-gray-300"
                        (click)="openTagsPanel()" #tagsPanelOrigin>
                        @if (category.tags.length) {
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                        <span class="ml-1.5 whitespace-nowrap text-md font-medium">Edit</span>
                        }

                        @if (!category.tags.length) {
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                        <span class="ml-1.5 whitespace-nowrap text-md font-medium">Add</span>
                        }

                        <!-- Tags panel -->
                        <ng-template #tagsPanel>
                            <div class="bg-card w-60 rounded border shadow-md">
                                <!-- Tags panel header -->
                                <div class="m-3 mr-2 flex items-center">
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5" [svgIcon]="
                                                                    'heroicons_solid:magnifying-glass'
                                                                "></mat-icon>
                                        <div class="ml-2">
                                            <input class="w-full min-w-0 border-0 py-1" type="text"
                                                placeholder="Enter tag name" (input)="filterTags($event)" (keydown)="
                                                                        filterTagsInputKeyDown(
                                                                            $event
                                                                        )
                                                                    " [maxLength]="30" #newTagInput />
                                        </div>
                                    </div>
                                    <button class="ml-1" mat-icon-button (click)="toggleTagsEditMode()">
                                        @if (!tagsEditMode) {
                                        <mat-icon class="icon-size-5" [svgIcon]="
                                                                        'heroicons_solid:pencil-square'
                                                                    "></mat-icon>
                                        }
                                        @if (tagsEditMode) {
                                        <mat-icon class="icon-size-5" [svgIcon]="
                                                                        'heroicons_solid:check'
                                                                    "></mat-icon>
                                        }
                                    </button>
                                </div>
                                <div class="flex max-h-64 flex-col overflow-y-auto border-t py-2">
                                    <!-- Tags -->
                                    @if (!tagsEditMode) {
                                    @for (
                                    tag of filteredTags;
                                    track trackByFn($index, tag)
                                    ) {
                                    <div class="flex h-10 min-h-10 cursor-pointer items-center pl-1 pr-4 hover:bg-hover"
                                        (click)="
                                            toggleTag(tag)" matRipple>
                                        <mat-checkbox class="pointer-events-none flex h-10 min-h-10 items-center"
                                            [checked]="category.tags.includes(tag)" [color]="'primary'">
                                        </mat-checkbox>
                                        <div>{{ tag }}</div>
                                    </div>
                                    }
                                    }
                                    <!-- Tags editing -->
                                    @if (tagsEditMode) {
                                    <div class="space-y-2 py-2">
                                        @for (
                                        tag of filteredTags;
                                        track trackByFn($index, tag)
                                        ) {
                                        <div class="flex items-center">
                                            <mat-form-field class="fuse-mat-dense mx-4 w-full" [subscriptSizing]="
                                                                                'dynamic'
                                                                            ">
                                                <input matInput [value]="tag" />
                                                <button mat-icon-button (click)="deleteTag(tag)" matSuffix>
                                                    <mat-icon class="ml-2 icon-size-5" [svgIcon]="
                                                                                        'heroicons_solid:trash'
                                                                                    "></mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        }
                                    </div>
                                    }
                                    <!-- Create tag -->
                                    @if (
                                    shouldShowCreateTagButton(
                                    newTagInput.value
                                    )
                                    ) {
                                    <div class="-ml-0.5 flex h-10 min-h-10 cursor-pointer items-center pl-4 pr-3 leading-none hover:bg-hover"
                                        (click)="
                                                addTag(
                                                                        newTagInput.value
                                                                    );
                                                                    newTagInput.value = ''
                                                                " matRipple>
                                        <mat-icon class="mr-2 icon-size-5" [svgIcon]="
                                                                        'heroicons_solid:plus-circle'
                                                                    "></mat-icon>
                                        <div class="break-all">
                                            Create "<b>{{
                                                newTagInput.value
                                                }}</b>"
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div style="margin-left: 0.5rem !important;margin-top: 1.5rem !important;width: 100%;"
                class="-mx-6 mt-10 flex items-center border-t bg-gray-50 py-4 pl-1 pr-4 dark:bg-transparent sm:-mx-12 sm:pl-7 sm:pr-12">
                <!-- Delete -->
                <!-- <button mat-button [color]="'warn'" [matTooltip]="'Delete'" (click)="deleteContact()">
                        Delete
                    </button> -->

                <!-- Cancel -->
                <button  class="ml-auto" mat-button [matTooltip]="'Cancel'"
                    (click)="redirecttoCategory()">
                    Cancel
                </button>
                <!-- Save -->
                <button class="ml-2" mat-flat-button [color]="'primary'" (click)="save()"
                    [disabled]="categoryForm.invalid">
                    {{isFormEditMode ? 'Update' : 'Save' }}
                </button>
            </div>
            <!-- <div class="mt-3 flex items-center">
                <button class="h-8 min-h-8" mat-flat-button [color]="'primary'" [type]="'button'" (click)="save()"
                    [disabled]="categoryForm.invalid">
                    {{isFormEditMode ? 'Update card' : 'New card' }}
                </button>
            </div> -->
        </form>
    </div>
</div>